<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />

    <application
        android:label="Caramel Host Conformance"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity
            android:name="androidx.car.app.activity.CarAppActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MAPS" />
            </intent-filter>
        </activity>
        <service
            android:name=".ConformanceCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
            </intent-filter>
        </service>
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />
    </application>
</manifest>
