<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />

    <uses-permission android:name="android.car.permission.TEMPLATE_RENDERER" />
    <uses-permission android:name="android.car.permission.CAR_DISPLAY_IN_CLUSTER" />
    <uses-permission android:name="android.car.permission.CAR_NAVIGATION_MANAGER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:label="Caramel Vanilla Templates Host"
        android:directBootAware="true"
        android:hasCode="true">
        <service
            android:name=".TemplatesHostService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.car.template.host.RendererService" />
            </intent-filter>
        </service>
    </application>
</manifest>
